body {
  height: 95vh;
  background-image: url(./assets/images/lfz-background.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

aside > div {
  background-color: #87CEEB;
  margin: 2% auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

main > div {
  background-image: url(./assets/images/lfz-card.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
