/* @font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  src: url('Avenir.woff2') format('woff2');
} */

@font-face {
  font-family: 'Avenir';
  src: url('Avenir.eot'); /* IE9 Compat Modes */
  src: url('Avenir.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Avenir.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Avenir.woff') format('woff'), /* Pretty Modern Browsers */
       url('Avenir.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Avenir.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Avenir Medium';
  src: local('Avenir Medium'), local('Avenir-Medium'),
       url('../fonts/Avenir-Medium.woff2') format('woff2'),
       url('../fonts/Avenir-Medium.woff') format('woff'),
       url('../fonts/Avenir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
