body {
  height: 95vh;
  background-image: url(../images/geo/diamond.jpg);
  background-repeat: repeat;
  background-size: 120%;
  background-position: center;
  background-color: white;
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  overflow: hidden;
}

header {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5vmax;
  font-weight: bold;
  text-align: center;
  margin: auto;
  height: 50%;
}

aside > div {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 1.1vmax;
  color: white;

  background-image: url(../images/extra/gear.gif);
  background-position: 30%;
  background-size: 200%;

/* background with earth */

  /* background-image: url(../images/geo/earth.gif);
  background-position: center;
  background-size: 300%; */

  margin: 2% auto;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all ease-in-out 0.2s;
}

aside > div:nth-child(odd) {
  background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/extra/bounce.gif);
  background-position: bottom 75%;
  background-size: cover;
  /* background-position: 50% 60%; */
}

aside div:first-child {
  background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/geo/earth.gif);
  background-position: center;
  background-size: 300%;
  font-weight: bold;
}

.clickable:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px cyan;
  transform: scale(1.01);
}

#game-cards {
  transition: all ease-in-out 0.2s;
}

.card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  position: absolute;
  transition: all ease-in-out 0.2s;
}

.card-back {
  background-image: url(../images/geo/glitch.gif);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.card-back:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px red;
  transform: scale(1.01);
  background-image: url(../images/extra/BetaMon.gif);
}

.current {
  box-shadow: 0px 0px 10px 2px cyan;
  transform: scale(1.01);
}

.correct {
  box-shadow: 0px 0px 15px 10px lime;
  border-radius: 15px;
}

.incorrect {
  box-shadow: 0px 0px 15px 10px red;
  border-radius: 15px;
  transform: scale(1.01);
}

.ag-logo {
  background-image: url(../images/wipeout_logos/ag.jpg);
}

.assegai-logo {
  background-image: url(../images/wipeout_logos/assegai.jpg);
}

.goteki-logo {
  background-image: url(../images/wipeout_logos/goteki.jpg);
}

.auricom-logo {
  background-image: url(../images/wipeout_logos/auricom.jpg);
}

.icarus-logo {
  background-image: url(../images/wipeout_logos/icarus.jpg);
}

.piranha-logo {
  background-image: url(../images/wipeout_logos/piranha.jpg);
}

.harimau-logo {
  background-image: url(../images/wipeout_logos/harimau.jpg);
}

.qirex-logo {
  background-image: url(../images/wipeout_logos/qirex.jpg);
}

.triakis-logo {
  background-image: url(../images/wipeout_logos/triakis.jpg);
}

.modal {
  font-size: 3vmax;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  text-align: center;
  /* background: linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .5)),
                     url(../images/geo/diamond.jpg); */
  background-image: url(../images/geo/diamond.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.modal > div {
  padding: 2%;
}

.modal > div:not(:first-child) {
  font-size: 2vmax;
  font-weight: normal;
}

.modal > .img-container {
  width: 35vmax;
  position: fixed;
  top: 30vmax;
  right: 5%;
}

.modal > .ic2 {
  width: 15vmax;
  left: 12%;
}

.modal > .ic3 {
  width: 25vmax;
  top: 20vmax;
  left: 20%;
  z-index: 1;
}

.img-container > img {
  width: 100%;
}

.flex {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.flex > div {
  width: 20%;
  height: 25vmax;
  margin-right: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightgray;
  /* border: lightgray 2px solid; */
  border-radius: 15px;
  transition: all ease-in-out 0.2s;
}

.flex > div:hover {
  transform: scale(1.05);
}

.nine-s {
  background: linear-gradient(
                     rgba(175, 175, 175, 0.2),
                     rgba(175, 175, 175, 0.2)),
                     url(../images/extra/9s.png);
}

.two-b {
  background: linear-gradient(
                     rgba(175, 175, 175, 0.2),
                     rgba(175, 175, 175, 0.2)),
                     url(../images/extra/2b_hi_res.png);
}

.a-two {
  background: linear-gradient(
                     rgba(175, 175, 175, 0.2),
                     rgba(175, 175, 175, 0.2)),
                     url(../images/extra/a2.png);
}


.button-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

input {
  padding: 20px 0;
  width: 20vw;
  background: linear-gradient(
                     rgba(20,20,20, .6),
                     rgba(20,20,20, .6)),
                     url(../images/extra/ai.gif);
  background-position: center;
  background-size: cover;
  border: none;
  border-radius: 15px;
  font-size: 2vmax;
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  transition: all ease-in-out 0.2s;
}

input:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px cyan;
  transform: scale(1.03);
  background-image: url(../images/extra/gear.gif);
  background-position: center;
  background-size: cover;
  color: white;
}

.hidden {
  display: none;
}

/* Backup input + input:hover */



/* input {
  padding: 20px 0;
  width: 20vw;
  background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/extra/ai.gif);
  background-position: center;
  background-size: cover;
  border: none;
  border-radius: 15px;
  font-size: 2vmax;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  transition: all ease-in-out 0.2s;
}

input:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px cyan;
  transform: scale(1.01);
  background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/geo/earth.gif);
  background-position: center;
  background-size: 350%;
} */
