body {
  height: 95vh;
  background-image: url(../images/backgrounds/alien_planet-1920x1080.jpg);
  background-size: 110%;
  background-repeat: repeat; /* repeat */
  background-position: center;
  background-color: white;
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  overflow: hidden;
}

header {
  /* font-family: 'Orbitron', sans-serif; */
  font-size: 2.5vmax;
  font-weight: bold;
  text-align: center;
  margin: auto;
  height: 80%;
  width: 100%;

  /* Makes whole header bar a gif */
  background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/extra/globe-optimize.gif);
  background-position: center;
  background-size: 50%; /* Original: 300% */
  font-size: 1.5vmax;
  font-weight: normal;
  color: white;
  border-radius: 0.8rem;
}

header > div {
  /* background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/geo/earth.gif);
  background-position: center;
  background-size: 300%;
  font-size: 1.5vmax;
  font-weight: normal;
  color: white; */

  margin: 0 2%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all ease-in-out 0.2s;
}

/* header > #title {
  background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/extra/Goo.gif);
  background-size: 100%;
  background-position: 50%;
} */

aside > div {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 1.1vmax;
  color: white;



/* background with gear */

  background-image: url(../images/extra/gear.gif);
  background-position: 30%;
  background-size: 200%;

  margin: 2% auto;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all ease-in-out 0.2s;
}

aside > div:nth-child(odd) {
  background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/extra/bounce.gif);
  background-position: bottom 75%;
  background-size: cover;
  /* background-position: 50% 60%; */
}

aside div:first-child {
  background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/geo/earth.gif);
  background-position: center;
  background-size: 500%;
  font-weight: bold;
  font-size: 1vw;
}

aside#controls {
  display: flex;
  justify-content: flex-start;
}

aside#controls > div:not(:first-child) {
  height: 25%;
}

aside#controls > div:nth-child(even):not(:first-child) {
  background: linear-gradient(
                     rgba(20,20,20, .6),
                     rgba(20,20,20, .6)),
                     url(../images/extra/ai.gif);
  background-position: center;
  background-size: 180%;
}

aside#controls div:first-child {
  font-weight: normal;
}

#game-cards {
  transition: all ease-in-out 0.2s;
  align-items: center;
}

.card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: 135%;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  border: 0.5px white solid;
  position: absolute;
  transition: all ease-in-out 0.2s;
}

.card-back {
  background-image: url(../images/geo/glitch.gif);
  background-size: cover;
  background-position: center;
  /* border-radius: 15px; */
}

.current {
  box-shadow: 0px 0px 10px 2px cyan;
  transform: scale(1.01);
}

.correct {
  box-shadow: 0px 0px 15px 10px lime;
  border-radius: 15px;
}

.incorrect {
  box-shadow: 0px 0px 15px 10px red;
  border-radius: 15px;
  transform: scale(1.01);
}

.ag-logo {
  background-image: url(../images/wipeout_logos/ag.jpg);
}

.assegai-logo {
  background-image: url(../images/wipeout_logos/assegai.jpg);
}

.goteki-logo {
  background-image: url(../images/wipeout_logos/goteki.jpg);
}

.auricom-logo {
  background-image: url(../images/wipeout_logos/auricom.jpg);
}

.icaras-logo {
  background-image: url(../images/wipeout_logos/icaras.jpg);
}

.piranha-logo {
  background-image: url(../images/wipeout_logos/piranha.jpg);
}

.harimau-logo {
  background-image: url(../images/wipeout_logos/harimau.jpg);
}

.qirex-logo {
  background-image: url(../images/wipeout_logos/qirex.jpg);
}

.triakis-logo {
  background-image: url(../images/wipeout_logos/triakis.jpg);
}

/* Footer -------------------------------- */

.footer-row {
  display: flex;
  align-items: center;
}

footer {
  font-size: 2.5vmax;
  font-weight: bold;
  text-align: center;
  margin: auto;
  height: 80%;
  width: 100%;

  /* Makes whole header bar a gif */
  background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/extra/gear.gif);
  background-position: center;
  background-size: 50%; /* Original: 300% */
  font-size: 1.5vmax;
  font-weight: normal;
  color: white;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}

footer > div {
  /* background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/geo/earth.gif);
  background-position: center;
  background-size: 300%;
  font-size: 1.5vmax;
  font-weight: normal;
  color: white; */

  margin: 0 2%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all ease-in-out 0.2s;
}

.progress {
  box-shadow: 0px 0px 10px 2px orange;
  /* transform: scale(1.05); */
  /* transform: translateY(-2%); */
}

.progress-animation {
  box-shadow: 0px 0px 10px 10px orange;
}

/* Modal -------------------------------- */

.modal {
  font-size: 3vmax;
  font-weight: normal;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  text-align: center;
  /* background: linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .5)),
                     url(../images/geo/diamond.jpg); */
  background-image: url(../images/geo/diamond.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  /* Added modal container to center modal content vertically */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  width: 100%;
}

/* Adding modal container makes rules nested in another div */
.modal > div > div {
  padding: 2%;
}

.modal > div > div:not(:first-child) {
  font-size: 2vmax;
  font-weight: normal;
}

/* #welcome-message, #welcome-message2 {
  transition: all ease-in-out 0.1s;
} */

/* #welcome-message2 {
  padding-top: 0;
} */

#mode-title, #difficulty-title {
  padding: 0;
}

.flex {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.wrap {
  flex-wrap: wrap;
}

.flex > div {
  width: 15%; /* Originally 20% */
  height: 17vmax; /* Originally 25vmax */
  margin: 0 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightgray;
  border: 0.2vmax solid white;
  /* border-radius: 15px; */
  transition: all ease-in-out 0.2s;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.flex > div > div {
  width: 100%;
  height: 70%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#location-modal .flex > div {
  background-size: cover;
}

/* Location / background modal */
.sol2 {
  background-image: url(../images/geo/gray.jpg);
}
.chenghou-project {
  background-image: url(../images/backgrounds/wallpaper-2827593.jpg);
}
.vineta-k {
  background-image: url(../images/backgrounds/311328.jpg);
}
.tech-de-ra {
  background-image: url(../images/backgrounds/futuristic-city-wallpaper-18.jpg);
}
.metropia {
  background-image: url(../images/backgrounds/wallpaper-660072.jpg);
}
.anulpha-pass {
  background-image: url(../images/backgrounds/wallhaven-732202.jpg);
}

/* Mode modal pod styling */

.flex > div > div.pod-one {
  background-image: url(../images/extra/pod3.png);
  background-size: 80%;
  background-position: 52% 0%;
  /* background: linear-gradient(
                     rgba(175, 175, 175, 0.2),
                     rgba(175, 175, 175, 0.2)),
                     url(../images/extra/9s.png); */
}

.flex > div > div.pod-two {
  background-image: url(../images/extra/pod4.png);
  background-size: 60%;
  background-position: 55% 0%;
  /* background: linear-gradient(
                     rgba(175, 175, 175, 0.2),
                     rgba(175, 175, 175, 0.2)),
                     url(../images/extra/2b_hi_res.png); */
}

/* Difficulty modal character styling */

.flex > div > div.nine-s {
  background-image: url(../images/extra/9s.png);
  background-size: 137%;
  background-position: 40% 1%;
  /* background: linear-gradient(
                     rgba(175, 175, 175, 0.2),
                     rgba(175, 175, 175, 0.2)),
                     url(../images/extra/9s.png); */
}

.flex > div > div.two-b {
  background-image: url(../images/extra/2b_hi_res.png);
  background-size: 300%;
  background-position: 75% -1%;
  /* background: linear-gradient(
                     rgba(175, 175, 175, 0.2),
                     rgba(175, 175, 175, 0.2)),
                     url(../images/extra/2b_hi_res.png); */
}

.flex > div > div.a-two {
  background-image: url(../images/extra/a2.png);
  background-size: 250%;
  background-position: 60% 17%;
  /* background: linear-gradient(
                     rgba(175, 175, 175, 0.2),
                     rgba(175, 175, 175, 0.2)),
                     url(../images/extra/a2.png); */
}

.selected {
  box-shadow: 0px 0px 10px 2px orange;
  /* transform: scale(1.05); */
  /* transform: translateY(-2%); */
}

.flex > .selected-animation {
  box-shadow: 0px 0px 10px 0.5rem orange;
}

.button-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

input {
  padding: 20px 0;
  width: 20vw;
  background: linear-gradient(
                     rgba(20,20,20, .6),
                     rgba(20,20,20, .6)),
                     url(../images/extra/ai.gif);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  border: none;
  font-size: 2vmax;
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  transition: all ease-in-out 0.2s;
}

.hidden {
  display: none;
}

.temp-hidden {
  visibility: hidden;
}

@media (hover: hover) and (pointer: fine) { /* Keeps hover effects only on non-touch screen devices */

  aside#controls div.clickable:not(:first-child):hover {
    /* cursor: pointer; */
    /* box-shadow: 0px 0px 10px 2px cyan; */
    /* transform: scale(1.03); */
    background-image: url(../images/extra/gear.gif);
    background-size: 200%;
  }

  .clickable:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px cyan;
    transform: scale(1.01);
  }

  .card-back:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px red;
    transform: scale(1.01);
    background-image: url(../images/extra/BetaMon.gif);
  }

  input:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px cyan;
    transform: scale(1.03);
    background-image: url(../images/extra/gear.gif);
    background-position: center;
    background-size: cover;
    color: white;
  }

  .flex > div:hover {
    transform: scale(1.05);
    transform: translateY(-2%);
  }

  .modal-container > :first-child {
    font-weight: bold;
  }
}

@media only screen and (min-width: 980px) and (max-width: 1540px) and (max-height: 620px) {

  .container {
    width: 70%;
  }

  .game-row {
    height: 90%;
  }

  header {
    border-radius: 0.5rem;
  }

  aside > div {
    border-radius: 10px;
  }

  .modal {
    font-size: 1.5vmax;
  }

  .modal > div > div {
	  padding: 1%;
  }

  .modal > div > div:not(:first-child) {
    font-size: 1vmax;
  }

  .flex > div {
	  width: 8%;
	  height: 10vmax;
  }

  input {
	  padding: 10px 0;
	  width: 10vw;
	  border-radius: 7px;
	  font-size: 1vmax;
  }
}

@media only screen and (max-width: 1280px) {

  body {
    background-size: 145%;
  }
}

@media only screen and (max-width: 980px) and (max-height: 620px) {

  input {
    padding: 10px 0;
    border-radius: 7px;
  }
}

@media only screen and (max-width: 680px) and (min-height: 600px) {

  input {
    padding: 10px 0;
    width: 25vw;
    border-radius: 7px;
  }

  .flex > div {
    max-height: 90px;
  }
}

@media only screen and (max-width: 980px) {

  body {
    background-size: 190%;
  }

  .container {
    width: 90%;
  }

  .game-row {
    height: 70%;
  }
}

@media only screen and (max-width: 980px) and (max-height: 580px) {

  .container {
    width: 80%;
  }

  .game-row {
    height: 80%;
  }

  aside > div {
    border-radius: 10px;
  }
}

@media only screen and (max-width: 768px) {

  body {
    background-size: 230%;
  }

  .game-row {
    height: 50%;
  }

  aside > div {
    border-radius: 10px;
  }
}

@media only screen and (max-width: 768px) and (max-height: 580px) {

  .container {
    width: 90%;
  }

  .game-row {
    height: 80%;
  }
}

@media only screen and (max-width: 600px) {

  body {
    background-size: 300%;
  }

  .game-row {
    height: 40%;
  }
}

@media only screen and (max-width: 600px) and (max-height: 580px) {

  .container {
    width: 90%;
  }

  .game-row {
    height: 65%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) /* iPad/iPad Pro portrait and landscape */ {

  body {
    background-size: 300%;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {

  .container {
    width: 90%;
  }

  .game-row {
    height: 70%;
  }

  .modal > div > div {
    padding: 3%;
  }

  .flex > div {
    margin: 0 1.5%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

  .container {
    width: 95%;
  }

  .game-row {
    height: 45%;
  }

  .modal > div > div {
    padding: 5%;
  }

  .flex > div {
    margin: 0 2%;
    height: 22vh;
    max-height: 500px;
    width: 25%;
    border: 1.5px solid white;
  }

  input {
    padding: 25px 0;
    width: 25vw;
  }
}

@media only screen and (max-device-width: 900px) and (max-device-height: 480px) and (orientation: landscape) {

  body {
    background-size: 175%;
  }

  header, aside > div {
    border-radius: 7px;
  }

  .flex > div {
    margin: 0 1.5%;
  }

  input {
    padding: 14px 0;
    border-radius: 10px;
  }
}

@media only screen and (max-device-width: 480px) and (max-device-height: 900px) and (orientation: portrait) {

  body {
    height: 98.1vh;
    background-size: 400%;
  }

  .header-row {
    height: 7%;
  }

  header {
    font-size: 1.4vmax;
    border-radius: 7px;
  }

  #title, #difficulty-mode-display {
    width: 32%;
  }

  .game-row {
    flex-direction: column;
    height: 93%;
  }

  aside.col-2 {
    height: 5%;
    width: 100%;
    margin: 0 auto 0.5rem;
    flex-direction: row;
  }

  aside > div {
    height: 90%;
    width: 20%;
    background-position: center;
    margin: 0 1px;
    border-radius: 7px;
    font-size: 0.8vmax;
  }

  /* aside > div:first-child {
    background-size: 500%;
  } */

  #game-cards {
    height: 90%;
    width: 100%;
    margin: 0 auto 0.5rem;
  }

  .card {
    height: 15%;
    width: 30%;
    /* margin: 1%; */
  }

  .card-front, .card-back {
    border: 0.5px white solid;
    border-radius: 10px;
    background-size: 100%; /* can use this for regular sized game too */
    background-color: white;
  }

  .card-back {
    background-size: cover;
    border-radius: 10px;
  }

  aside#controls {
    margin: 0 auto;
    justify-content: space-between;
  }

  aside#controls > div:first-child {
    font-size: 1vmax;
  }

   aside#controls > div:not(:first-child) {
    height: 90%;
   }

   #welcome-message {
     font-size: 1.4vmax;
   }

   .modal > div > div {
     padding: 5%;
   }

  .flex > div {
    margin: 0 2%;
    height: 20vh;
    max-height: 125px;
    width: 25%;
    border: 1.5px solid white;
  }

  .flex > .selected-animation {
  box-shadow: 0px 0px 10px 0.3rem orange;
  }

  input {
    width: 30vw;
    height: 6vh;
    padding: 0;
    border-radius: 10px;
  }
}



/*_____________________________________________*/

/* Animated keyframe for glowing */

/* @keyframes glowing {
  0% { box-shadow: 0 0 10px 2px orange; }
  40% { box-shadow: 0 0 10px 10px orange; }
  60% { box-shadow: 0 0 10px 10px orange; }
  100% { box-shadow: 0 0 10px 2px orange; }
} */

/* .button-glow {
  animation: glowing 2000ms infinite;
} */

/*_____________________________________________*/

/* Backup input + input:hover */

/* input {
  padding: 20px 0;
  width: 20vw;
  background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/extra/ai.gif);
  background-position: center;
  background-size: cover;
  border: none;
  border-radius: 15px;
  font-size: 2vmax;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  transition: all ease-in-out 0.2s;
}

input:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px cyan;
  transform: scale(1.01);
  background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/geo/earth.gif);
  background-position: center;
  background-size: 350%;
} */

/*

CSS Glow Trick

*/
