body {
  height: 95vh;
  background-image: url(../images/geo/gray.jpg);
  background-repeat: repeat; /* repeat */
  background-size: cover; /* 120% original */
  background-position: center;
  background-color: white;
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  overflow: hidden;
}

header {
  /* font-family: 'Orbitron', sans-serif; */
  font-size: 2.5vmax;
  font-weight: bold;
  text-align: center;
  margin: auto;
  height: 80%;
  width: 100%;

  /* Makes whole header bar a gif */
  background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/extra/globe-optimize.gif);
  background-position: center;
  background-size: 50%; /* Original: 300% */
  font-size: 1.5vmax;
  font-weight: normal;
  color: white;
  border-radius: 15px;
}

header > div {
  /* background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/geo/earth.gif);
  background-position: center;
  background-size: 300%;
  font-size: 1.5vmax;
  font-weight: normal;
  color: white; */

  margin: 0 2%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all ease-in-out 0.2s;
}

/* header > #title {
  background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/extra/Goo.gif);
  background-size: 100%;
  background-position: 50%;
} */

aside > div {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 1.1vmax;
  color: white;



/* background with gear */

  background-image: url(../images/extra/gear.gif);
  background-position: 30%;
  background-size: 200%;

  margin: 2% auto;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all ease-in-out 0.2s;
}

aside > div:nth-child(odd) {
  background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/extra/bounce.gif);
  background-position: bottom 75%;
  background-size: cover;
  /* background-position: 50% 60%; */
}

aside div:first-child {
  background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/geo/earth.gif);
  background-position: center;
  background-size: 300%;
  font-weight: bold;
}

aside#controls {
  display: flex;
  justify-content: flex-start;
}

aside#controls > div:not(:first-child) {
  height: 25%;
}

aside#controls > div:nth-child(even):not(:first-child) {
  background: linear-gradient(
                     rgba(20,20,20, .6),
                     rgba(20,20,20, .6)),
                     url(../images/extra/ai.gif);
  background-position: center;
  background-size: 180%;
  margin: 2% auto;
}

aside#controls div.clickable:not(:first-child):hover {
  /* cursor: pointer; */
  /* box-shadow: 0px 0px 10px 2px cyan; */
  /* transform: scale(1.03); */
  background-image: url(../images/extra/gear.gif);
  background-size: 200%;
}

aside#controls div:first-child {
  font-weight: normal;
}

.clickable:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px cyan;
  transform: scale(1.01);
}

#game-cards {
  transition: all ease-in-out 0.2s;
}

.card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  position: absolute;
  transition: all ease-in-out 0.2s;
}

.card-back {
  background-image: url(../images/geo/glitch.gif);
  background-size: cover;
  background-position: center;
  /* border-radius: 15px; */
}

.card-back:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px red;
  transform: scale(1.01);
  background-image: url(../images/extra/BetaMon.gif);
}

.current {
  box-shadow: 0px 0px 10px 2px cyan;
  transform: scale(1.01);
}

.correct {
  box-shadow: 0px 0px 15px 10px lime;
  border-radius: 15px;
}

.incorrect {
  box-shadow: 0px 0px 15px 10px red;
  border-radius: 15px;
  transform: scale(1.01);
}

.ag-logo {
  background-image: url(../images/wipeout_logos/ag.jpg);
}

.assegai-logo {
  background-image: url(../images/wipeout_logos/assegai.jpg);
}

.goteki-logo {
  background-image: url(../images/wipeout_logos/goteki.jpg);
}

.auricom-logo {
  background-image: url(../images/wipeout_logos/auricom.jpg);
}

.icaras-logo {
  background-image: url(../images/wipeout_logos/icaras.jpg);
}

.piranha-logo {
  background-image: url(../images/wipeout_logos/piranha.jpg);
}

.harimau-logo {
  background-image: url(../images/wipeout_logos/harimau.jpg);
}

.qirex-logo {
  background-image: url(../images/wipeout_logos/qirex.jpg);
}

.triakis-logo {
  background-image: url(../images/wipeout_logos/triakis.jpg);
}

/* Footer -------------------------------- */

.footer-row {
  display: flex;
  align-items: center;
}

footer {
  font-size: 2.5vmax;
  font-weight: bold;
  text-align: center;
  margin: auto;
  height: 80%;
  width: 100%;

  /* Makes whole header bar a gif */
  background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/extra/gear.gif);
  background-position: center;
  background-size: 50%; /* Original: 300% */
  font-size: 1.5vmax;
  font-weight: normal;
  color: white;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}

footer > div {
  /* background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/geo/earth.gif);
  background-position: center;
  background-size: 300%;
  font-size: 1.5vmax;
  font-weight: normal;
  color: white; */

  margin: 0 2%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all ease-in-out 0.2s;
}

.progress {
  box-shadow: 0px 0px 10px 2px orange;
  /* transform: scale(1.05); */
  /* transform: translateY(-2%); */
}

.progress-animation {
  box-shadow: 0px 0px 10px 10px orange;
}

/* Modal -------------------------------- */

.modal {
  font-size: 3vmax;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  text-align: center;
  /* background: linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .5)),
                     url(../images/geo/diamond.jpg); */
  background-image: url(../images/geo/diamond.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  /* Added modal container to center modal content vertically */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  width: 100%;
}

/* Adding modal container makes rules nested in another div */
.modal > div > div {
  padding: 2%;
}

.modal > div > div:not(:first-child) {
  font-size: 2vmax;
  font-weight: normal;
}

/* #welcome-message, #welcome-message2 {
  transition: all ease-in-out 0.1s;
} */

/* #welcome-message2 {
  padding-top: 0;
} */

#mode-title, #difficulty-title {
  padding: 0;
}

.flex {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.wrap {
  flex-wrap: wrap;
}

.flex > div {
  width: 15%; /* Originally 20% */
  height: 17vmax; /* Originally 25vmax */
  margin: 0 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightgray;
  border: 3px solid white;
  /* border-radius: 15px; */
  transition: all ease-in-out 0.2s;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.flex > div:hover {
  transform: scale(1.05);
  transform: translateY(-2%);
}

.flex > div > div {
  width: 100%;
  height: 70%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Location / background modal */
.flex > div#pic-one {
  background-size: cover;
  background-image: url(../images/geo/gray.jpg);
}
.flex > div#pic-two {
  background-size: cover;
  background-image: url(../images/backgrounds/futuristic-city-wallpaper-18.jpg);
}
.flex > div#pic-three {
  background-size: cover;
  background-image: url(../images/geo/diamond.jpg);
}
.flex > div#pic-four {
  background-size: cover;
  background-image: url(../images/extra/na_cityruins.png);
}
.flex > div#pic-five {
  background-size: cover;
  background-image: url(../images/extra/na_forest.jpg);
}

/* Mode modal pod styling */

.flex > div > div.pod-one {
  background-image: url(../images/extra/pod3.png);
  background-size: 80%;
  background-position: 52% 0%;
  /* background: linear-gradient(
                     rgba(175, 175, 175, 0.2),
                     rgba(175, 175, 175, 0.2)),
                     url(../images/extra/9s.png); */
}

.flex > div > div.pod-two {
  background-image: url(../images/extra/pod4.png);
  background-size: 60%;
  background-position: 55% 0%;
  /* background: linear-gradient(
                     rgba(175, 175, 175, 0.2),
                     rgba(175, 175, 175, 0.2)),
                     url(../images/extra/2b_hi_res.png); */
}

/* Difficulty modal character styling */

.flex > div > div.nine-s {
  background-image: url(../images/extra/9s.png);
  background-size: 137%;
  background-position: 40% 1%;
  /* background: linear-gradient(
                     rgba(175, 175, 175, 0.2),
                     rgba(175, 175, 175, 0.2)),
                     url(../images/extra/9s.png); */
}

.flex > div > div.two-b {
  background-image: url(../images/extra/2b_hi_res.png);
  background-size: 300%;
  background-position: 75% -1%;
  /* background: linear-gradient(
                     rgba(175, 175, 175, 0.2),
                     rgba(175, 175, 175, 0.2)),
                     url(../images/extra/2b_hi_res.png); */
}

.flex > div > div.a-two {
  background-image: url(../images/extra/a2.png);
  background-size: 250%;
  background-position: 60% 17%;
  /* background: linear-gradient(
                     rgba(175, 175, 175, 0.2),
                     rgba(175, 175, 175, 0.2)),
                     url(../images/extra/a2.png); */
}

.selected {
  box-shadow: 0px 0px 10px 2px orange;
  /* transform: scale(1.05); */
  /* transform: translateY(-2%); */
}

.flex > .selected-animation {
  box-shadow: 0px 0px 10px 10px orange;
}

.button-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

input {
  padding: 20px 0;
  width: 20vw;
  background: linear-gradient(
                     rgba(20,20,20, .6),
                     rgba(20,20,20, .6)),
                     url(../images/extra/ai.gif);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  border: none;
  font-size: 2vmax;
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  transition: all ease-in-out 0.2s;
}

input:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px cyan;
  transform: scale(1.03);
  background-image: url(../images/extra/gear.gif);
  background-position: center;
  background-size: cover;
  color: white;
}

.hidden {
  display: none;
}

.temp-hidden {
  visibility: hidden;
}

/*_____________________________________________*/

/* Animated keyframe for glowing */

/* @keyframes glowing {
  0% { box-shadow: 0 0 10px 2px orange; }
  40% { box-shadow: 0 0 10px 10px orange; }
  60% { box-shadow: 0 0 10px 10px orange; }
  100% { box-shadow: 0 0 10px 2px orange; }
} */

/* .button-glow {
  animation: glowing 2000ms infinite;
} */

/*_____________________________________________*/

/* Backup input + input:hover */

/* input {
  padding: 20px 0;
  width: 20vw;
  background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/extra/ai.gif);
  background-position: center;
  background-size: cover;
  border: none;
  border-radius: 15px;
  font-size: 2vmax;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  transition: all ease-in-out 0.2s;
}

input:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px cyan;
  transform: scale(1.01);
  background: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/geo/earth.gif);
  background-position: center;
  background-size: 350%;
} */

/*

CSS Glow Trick

*/
