body {
  height: 95vh;
  background-size: 110%;
  background-repeat: repeat;
  background-position: center;
  background-color: white;
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  overflow: hidden;
}

header {
  font-size: 1.5vmax;
  font-weight: normal;
  color: white;
  text-align: center;
  margin: auto;
  height: 80%;
  width: 100%;
  background-image: linear-gradient(
                    rgba(20,20,20, .4),
                    rgba(20,20,20, .4)),
                    url(../images/buttons/header_static.jpg);
  background-position: center;
  background-size: 50%;
  border-radius: 0.8rem;
}

header > div {
  margin: 0 2%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all ease-in-out 0.2s;
}

aside > div {
  font-size: 1.1vmax;
  color: white;
  background-image: linear-gradient(
                    rgba(20,20,20, .4),
                    rgba(20,20,20, .4)),
                    url(../images/buttons/button3_static.jpg);
  background-position: 30%;
  background-size: 200%;
  margin: 2% auto;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all ease-in-out 0.2s;
}

aside > div:nth-child(odd) {
  background-image: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/buttons/button2_static.jpg);
  background-position: bottom 75%;
  background-size: cover;
}

aside div:first-child {
  background-image: linear-gradient(
                     rgba(20,20,20, .4),
                     rgba(20,20,20, .4)),
                     url(../images/buttons/button4_static.jpg);
  background-position: center;
  background-size: 500%;
  font-weight: bold;
  font-size: 1vw;
}

aside#controls {
  display: flex;
  justify-content: flex-start;
}

aside#controls > div:not(:first-child) {
  height: 25%;
}

aside#controls > div:nth-child(even):not(:first-child) {
  background-image: linear-gradient(
                     rgba(20,20,20, .6),
                     rgba(20,20,20, .6)),
                     url(../images/buttons/button1_static.jpg);
  background-position: center;
  background-size: 180%;
}

aside#controls div:first-child {
  font-weight: normal;
}

#game-cards {
  transition: all ease-in-out 0.2s;
  align-items: center;
}

.card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: 135%;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  border: 0.5px white solid;
  position: absolute;
  transition: all ease-in-out 0.2s;
}

.card-back {
  background-image: url(../images/cards/card_back_static.jpg);
  background-size: cover;
  background-position: center;
}

.current {
  box-shadow: 0px 0px 10px 2px cyan;
  transform: scale(1.01);
}

.correct {
  box-shadow: 0px 0px 15px 10px lime;
  border-radius: 15px;
}

.incorrect {
  box-shadow: 0px 0px 15px 10px red;
  border-radius: 15px;
  transform: scale(1.01);
}

.ag {
  background-image: url(../images/cards/ag.jpg);
}

.assegai {
  background-image: url(../images/cards/assegai.jpg);
}

.goteki {
  background-image: url(../images/cards/goteki.jpg);
}

.auricom {
  background-image: url(../images/cards/auricom.jpg);
}

.icaras {
  background-image: url(../images/cards/icaras.jpg);
}

.piranha {
  background-image: url(../images/cards/piranha.jpg);
}

.harimau {
  background-image: url(../images/cards/harimau.jpg);
}

.qirex {
  background-image: url(../images/cards/qirex.jpg);
}

.triakis {
  background-image: url(../images/cards/triakis.jpg);
}

/* Modal -------------------------------- */

.modal {
  font-size: 3vmax;
  font-weight: normal;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  text-align: center;
  background-image: url(../images/backgrounds/menu.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  /* Added modal container to center modal content vertically */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  width: 100%;
}

/* Adding modal container makes rules nested in another div */
.modal > div > div {
  padding: 2%;
}

.modal > div > div:not(:first-child) {
  font-size: 2vmax;
  font-weight: normal;
}

#mode-title, #difficulty-title, #location-title {
  padding: 0;
}

.flex {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.wrap {
  flex-wrap: wrap;
}

.flex > div {
  width: 15%;
  height: 17vmax;
  margin: 0 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightgray;
  border: 0.2vmax solid white;
  transition: all ease-in-out 0.2s;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#survival {
  background-image: url(../images/buttons/survival.png);
  background-size: 80%;
  background-position: 52% 80%;
}

#timeattack {
  background-image: url(../images/buttons/time_attack.png);
  background-size: 60%;
  background-position: 55% 80%;
}

#easy {
  background-image: url(../images/buttons/easy.png);
  background-size: 137%;
  background-position: 40% -10%;
}

#medium {
  background-image: url(../images/buttons/medium.png);
  background-size: 250%;
  background-position: 60% 6.5%;
}

#hard {
  background-image: url(../images/buttons/hard.png);
  background-size: 300%;
  background-position: 75% -14%;
}

.flex > div > div {
  width: 100%;
  height: 70%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#location-modal .flex > div {
  background-size: cover;
}

.sol {
  background-image: url(../images/backgrounds/sol2.jpg);
}
.moa {
  background-image: url(../images/backgrounds/moa_therma.jpg);
}
.vineta {
  background-image: url(../images/backgrounds/vineta_k.jpg);
}
.tech {
  background-image: url(../images/backgrounds/tech_de_ra.jpg);
}
.metropia {
  background-image: url(../images/backgrounds/metropia.jpg);
}
.anulpha {
  background-image: url(../images/backgrounds/anulpha_pass.jpg);
}

.selected {
  box-shadow: 0px 0px 10px 2px orange;
}

.flex > .selected-animation {
  box-shadow: 0px 0px 10px 0.5rem orange;
}

#sound-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sound-button-container > div {
  margin: 0 1vw;
}

.button-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

input {
  padding: 20px 0;
  width: 20vw;
  background: linear-gradient(
                     rgba(20,20,20, .6),
                     rgba(20,20,20, .6)),
                     url(../images/buttons/button1.gif);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  border: none;
  font-size: 2vmax;
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  transition: all ease-in-out 0.2s;
}

.hidden {
  display: none;
}

.temp-hidden {
  visibility: hidden;
}

@media (hover: hover) and (pointer: fine) { /* Keeps hover effects only on non-touch screen devices */

  header {
    background-image: linear-gradient(
                      rgba(20,20,20, .4),
                      rgba(20,20,20, .4)),
                      url(../images/buttons/header.gif);
  }

  aside > div {
    background-image: linear-gradient(
                      rgba(20,20,20, .4),
                      rgba(20,20,20, .4)),
                      url(../images/buttons/button3.gif);
  }

  aside > div:nth-child(odd) {
    background-image: linear-gradient(
                      rgba(20,20,20, .4),
                      rgba(20,20,20, .4)),
                      url(../images/buttons/button2.gif);
  }

  aside div:first-child {
    background-image: linear-gradient(
                      rgba(20,20,20, .4),
                      rgba(20,20,20, .4)),
                      url(../images/buttons/button4.gif);
  }

  aside#controls div.clickable:not(:first-child):hover {
    background-image: url(../images/buttons/button3.gif);
    background-size: 200%;
  }

  aside#controls > div:nth-child(even):not(:first-child) {
    background-image: linear-gradient(
                      rgba(20,20,20, .6),
                      rgba(20,20,20, .6)),
                      url(../images/buttons/button1.gif);
  }

  .clickable:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px cyan;
    transform: scale(1.01);
  }

  .card-back {
    background-image: url(../images/cards/card_back.gif);
  }

  .card-back:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px red;
    transform: scale(1.01);
    background-image: url(../images/cards/card_hover.gif);
  }

  input:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px cyan;
    transform: scale(1.03);
    background-image: url(../images/buttons/button3.gif);
    background-position: center;
    background-size: cover;
    color: white;
  }

  .flex > div:hover {
    transform: scale(1.05);
    transform: translateY(-2%);
  }

  .modal-container > :first-child {
    font-weight: bold;
  }
}

@media only screen and (min-width: 980px) and (max-width: 1540px) and (max-height: 620px) {

  .container {
    width: 70%;
  }

  .game-row {
    height: 90%;
  }

  header {
    border-radius: 0.5rem;
  }

  aside > div {
    border-radius: 10px;
  }

  .modal {
    font-size: 1.5vmax;
  }

  .modal > div > div {
	  padding: 1%;
  }

  .modal > div > div:not(:first-child) {
    font-size: 1vmax;
  }

  .flex > div {
	  width: 8%;
	  height: 10vmax;
  }

  input {
	  padding: 10px 0;
	  width: 10vw;
	  border-radius: 7px;
	  font-size: 1vmax;
  }
}

@media only screen and (max-width: 1280px) {

  body {
    background-size: 145%;
  }
}

@media only screen and (max-width: 980px) and (max-height: 620px) {

  input {
    padding: 10px 0;
    border-radius: 7px;
  }
}

@media only screen and (max-width: 680px) and (min-height: 600px) {

  input {
    padding: 10px 0;
    width: 25vw;
    border-radius: 7px;
  }

  .flex > div {
    max-height: 90px;
  }
}

@media only screen and (max-width: 980px) {

  body {
    background-size: 190%;
  }

  .container {
    width: 90%;
  }

  .game-row {
    height: 70%;
  }
}

@media only screen and (max-width: 980px) and (max-height: 580px) {

  .container {
    width: 80%;
  }

  .game-row {
    height: 80%;
  }

  aside > div {
    border-radius: 10px;
  }
}

@media only screen and (max-width: 768px) {

  body {
    background-size: 230%;
  }

  .game-row {
    height: 50%;
  }

  aside > div {
    border-radius: 10px;
  }
}

@media only screen and (max-width: 768px) and (max-height: 580px) {

  .container {
    width: 90%;
  }

  .game-row {
    height: 80%;
  }
}

@media only screen and (max-width: 600px) {

  body {
    background-size: 300%;
  }

  .game-row {
    height: 40%;
  }
}

@media only screen and (max-width: 600px) and (max-height: 580px) {

  .container {
    width: 90%;
  }

  .game-row {
    height: 65%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) /* iPad/iPad Pro portrait and landscape */ {

  body {
    background-size: 300%;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {

  .container {
    width: 90%;
  }

  .game-row {
    height: 70%;
  }

  .modal > div > div {
    padding: 3%;
  }

  .flex > div {
    margin: 0 1.5%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

  .container {
    width: 95%;
  }

  .game-row {
    height: 45%;
  }

  .modal > div > div {
    padding: 5%;
  }

  .flex > div {
    margin: 0 2%;
    height: 22vh;
    max-height: 500px;
    width: 25%;
    border: 1.5px solid white;
  }

  input {
    padding: 25px 0;
    width: 25vw;
  }
}

@media only screen and (max-device-width: 900px) and (max-device-height: 480px) and (orientation: landscape) {

  body {
    background-size: 175%;
  }

  header, aside > div {
    border-radius: 7px;
  }

  .flex > div {
    margin: 0 1.5%;
  }

  input {
    padding: 14px 0;
    border-radius: 10px;
  }
}

@media only screen and (max-device-width: 480px) and (max-device-height: 900px) and (orientation: portrait) {

  body {
    height: 98.1vh;
    background-size: 400%;
  }

  .header-row {
    height: 7%;
  }

  header {
    font-size: 1.4vmax;
    border-radius: 7px;
  }

  #title, #difficulty-mode-display {
    width: 32%;
  }

  .game-row {
    flex-direction: column;
    height: 93%;
  }

  aside.col-2 {
    height: 5%;
    width: 100%;
    margin: 0 auto 0.5rem;
    flex-direction: row;
  }

  aside > div {
    height: 90%;
    width: 20%;
    background-position: center;
    margin: 0 1px;
    border-radius: 7px;
    font-size: 0.8vmax;
  }

  #game-cards {
    height: 90%;
    width: 100%;
    margin: 0 auto 0.5rem;
  }

  .card {
    height: 15%;
    width: 30%;
  }

  .card-front, .card-back {
    border: 0.5px white solid;
    border-radius: 10px;
    background-size: 100%;
    background-color: white;
  }

  .card-back {
    background-size: cover;
    border-radius: 10px;
  }

  aside#controls {
    margin: 0 auto;
    justify-content: space-between;
  }

  aside#controls > div:first-child {
    font-size: 1vmax;
  }

   aside#controls > div:not(:first-child) {
    height: 90%;
   }

   #welcome-message {
     font-size: 1.4vmax;
   }

   .modal > div > div {
     padding: 5%;
   }

  .flex > div {
    margin: 0 2%;
    height: 16vh;
    max-height: 110px;
    width: 25%;
    border: 1.5px solid white;
  }

  .flex > .selected-animation {
  box-shadow: 0px 0px 10px 0.3rem orange;
  }

  input {
    width: 30vw;
    height: 6vh;
    padding: 0;
    border-radius: 10px;
  }
}
